<h1>Edit Author<h1>
<hr/>
<br>
<h2> Edit Author: @Model["author"].GetName()</h2>
<form  action="/author/@Model["author"].GetId()/edit_name" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input name="author-id" type="hidden" value="@Model["author"].GetId()">
  <label for ="author-name">Update Author name</label>
  <input id="author-name" name="author-name" type="text">
  <button type="submit">Submit</button>
</form>

<form action="/author/@Model["author"].GetId()/edit_book" method="post">
  <input name="author-id" type="hidden" value="@Model["author"].GetId()">
  <label for="book-title">Add Book to Author</label>
  <select name="book-id">
    @foreach (var book in @Model["books"])
    {
      <option value="@book.GetId()">@book.GetTitle()</option>
    }
  </select>
  <button type="submit">Add</button>
</form>

<form action="/author/@Model["author"].GetId()/edit_genre" method="post">
  <input name="author-id" type="hidden" value="@Model["author"].GetId()">
  <label for="genre-name">Add Genre to Author</label>
  <select name="genre-id">
    @foreach (var genre in @Model["genres"])
    {
      <option value="@genre.GetId()">@genre.GetName()</option>
    }
  </select>
  <button type="submit">Add</button>
</form>
